.hide {
    display: none;
}

* {
    font-family: "Source San Pro", sans-serif;
    font-size: 22px;
}

.user-selection {
    background-color: #7ab670;
}

.incorrect-option {
    background-color: #c20a0a;
}

.correct-option {
    background-color: #348415;
}

.header-title {
    color: #eee9d4;
    padding: 1.5%;
    font-size: 30px;
}

body {
    background-color: #012f47;
    text-align: center;
}

#quiz-container {
    background-color: #eee9d4;
    padding: 10%;
    border-radius: 15px;
    margin-top: 14%;
}

#quiz-instruction {
    font-size: 18px;
    padding-bottom: 2%;
}

#question {
    padding-bottom: 3%;
}

#score-area {
    color: #c6093b;
    padding: 4%;
}

.button {
    padding: 2%;
    border-radius: 7px;
    margin: 2%;
}

.button:hover {
    background-color: #7ab670;
}