.hide {
    display: none;
}

* {
    font-family: "Source San Pro", sans-serif;
    font-size: 22px;
}

.user-selection {
    background-color: #7ab66f;
}

.incorrect-option {
    background-color: #c6093b;
}

.correct-option {
    background-color: #008000;
}

.header-title {
    color: #f5f5dc;
    padding: 1.5%;
}

body {
    background-color: #002F47;
    text-align: center;
}

#quiz-container {
    background-color: #eee9d4;
    padding: 10%;
    border-radius: 15px;
}

#question {
    padding-bottom: 3%;
}

#score-area {
    color: #c6093b;
    padding: 4%;
}

.button {
    padding: 2%;
    border-radius: 7px;
    margin: 2%;
}

.button:hover {
    background-color: #7ab66f;
}